@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header, footer {
  display: flex;
  flex-direction: row;
  background-color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 30px;
}

nav li {
  margin-left: 25px;
}

header nav ul a {
  text-decoration: none;
  color: white;
}

#counter, #membershipCounter {
  color: white;
  background-color: #d13327;
  margin-left: 10px;
  padding: 5px 12px;;
  border-radius: 15px;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}

.header-container img {
  height: 75px;
  width: auto;
  margin: 25px 0;
}

.hero-image {
    height: 650px;
    width: 100%; 
    background-image: url(./../images/soccer-field.jpg);
    background-position: center bottom;
    background-size: cover;
    background-position: center center;
    /* margin-bottom: 45px; */
}

.hero-image_container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 400px;
}

.hero-image_container img {
  position: absolute;
}

.hero-image img {
  opacity: .7;
}

.content-container {
  width: 1000px;
  margin: 0 auto;
}

.content-container h1 {
  text-align: center;
  text-decoration: underline;
  margin-top: 50px;
}

.chapter-container, .event-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.chapter-container h2, .event-container h2 {
  text-align: center;
  margin-top: 25px;
}

.chapter-container h2 {
  font-size: 18px;
  position: absolute;
  margin-top: 60px;
  margin-left: 20px;
}

.chapter-container p, .event-container p {
  width: 300px;
  text-align: justify;
}

footer {
  height: 200px;
  margin-top: 50px;
}


/* From Chris Coyer https://css-tricks.com/couple-takes-sticky-footer/ for sticky footer */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}
/* end of sticky footer code */

.shield {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 0 auto;
  background-color: gray;
  margin-top: 25px;
}

.active {
  border-bottom: white solid 2px;
  padding-bottom: 10px;
}

/* Taken form reference: https://codepen.io/vanss472/pen/QvGMaw*/
input {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 0px 1px 8px #00000033;
  font-size: 14px;
  padding: 10px 5px;
  transition: .18s ease-out;
  margin: 5px 5px;
  width: 75px;
}

input:hover {
  box-shadow: inset 1px 2px 8px #00000005;
}

input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  box-shadow: inset 1px 2px 4px #00000003, 0px 0px 8px #00000033;
}

button {
  padding: 10px 10px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #d13327;
  color: #fff;
}